<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Cliente Directory</title>
</head>

<body>

<div class="container">

	<div th:replace="includes/navbar :: navbar"></div>

	</br>
	<h4>Clientes</h4>
	<hr>
	
	<a th:href="@{/clientes/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Agregar Cliente
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Nombre</th>
				<th>Primer Apellido</th>
				<th>Segundo Apellido</th>
				<th>Observaciones</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCliente : ${clientes}">
			
				<td th:text="${tempCliente.nombre}" />	
				<td th:text="${tempCliente.apellido1}" />	
				<td th:text="${tempCliente.apellido2}" />	
				<td th:text="${tempCliente.observaciones}" />	
			</tr>
		</tbody>		
	</table>
</div>
	
</body>
</html>